In [38]:
import os
import pandas as pd
import configparser

In [65]:
os.getcwd()

'/Users/hattoridaichi/python/titanic'

In [40]:
#相対パスを渡して、カレントディレクトリを変更している
os.chdir("python/titanic/")

In [42]:
#例えば何かファイルを読み込んでみる
df=pd.read_csv("titanic.csv")

In [43]:
#読み込みたい
df.head()

,Unnamed: 0,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,0,34.5,NaN,Q,7.8292,"Kelly, Mr. James",0,892,3,male,0,NaN,330911
1,1,47.0,NaN,S,7.0000,"Wilkes, Mrs. James (Ellen Needs)",0,893,3,female,1,NaN,363272
2,2,62.0,NaN,Q,9.6875,"Myles, Mr. Thomas Francis",0,894,2,male,0,NaN,240276
3,3,27.0,NaN,S,8.6625,"Wirz, Mr. Albert",0,895,3,male,0,NaN,315154
4,4,22.0,NaN,S,12.2875,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,896,3,female,1,NaN,3101298

In [47]:
#相対パスの書き方でconfig.iniファイルを読み込んで見たいと思う
#絶対パス　/Users/hattoridaichi/R_studio/Practice/JRE/config.ini
config=configparser.ConfigParser()
config.read("../../R_studio/Practice/JRE/config.ini")
config_path=config["default"]["path"]
print(config_path)

/Users/hattoridaichi/R_studio/Practice/JRE

In [48]:
#pathの結合方法はこの方法でもいけるよう
p_file=os.path.join(config_path, "2014Q2BSPL.xlsx")

In [49]:
#ということで読みこみも可能
df_test=pd.read_excel(p_file)

In [71]:
df.to_csv("../test/df.csv", )