In [1]:
import pandas as pd
import os
from collections import Counter
import re

In [2]:
os.chdir("/Users/hattoridaichi/python/practice/raw_data/sample_data")

In [3]:
os.getcwd()

'/Users/hattoridaichi/python/practice/raw_data/sample_data'

In [4]:
df = pd.read_excel("blank_pcatice.xlsx")

In [5]:
df

        col     col2
0        aa       aa
1        aa       aa
2        aa       aa
3        aa       aa
4        aa       aa
5        aa       aa
6     bbbbb    bbbbb
7     bb  b    bb  b
8     bb  b    bb  b
9     bb  b    bb  b
10    bb  b    bb  b

In [6]:
counter = Counter(df["col"][7])

In [87]:
len(re.search(r"(\s+)*([a-z]+)", df["col"][5]).group(1))

2

In [94]:
def get_indent(x):
    tmp = Counter(re.search(r"(\s+)*([a-z]+)", x).group(0))
    return tmp[" "]

In [95]:
df["count"] = df["col"].apply(lambda x : get_indent(x))

In [96]:
df

        col     col2  count
0        aa       aa      4
1        aa       aa      4
2        aa       aa      3
3        aa       aa      2
4        aa       aa      2
5        aa       aa      2
6     bbbbb    bbbbb      0
7     bb  b    bb  b      2
8     bb  b    bb  b      2
9     bb  b    bb  b      2
10    bb  b    bb  b      0

In [72]:
a =  "   abc eedd"

In [62]:
re.search("(.+?)([a-z])", a).group(0)

'   a'

In [64]:
re.search(r"(\s+)*([a-z]+)", a).group(0)

'   abc'

In [76]:
Counter(re.search(r"(\s+)*([a-z]+)", a).group(0))

Counter({' ': 3, 'a': 1, 'b': 1, 'c': 1})

In [67]:
a[" "]

3