In [57]:
import pandas as pd
import os
from collections import Counter
import re

In [17]:
os.chdir("/Users/hattoridaichi/python/practice/raw_data/sample_data")

In [18]:
os.getcwd()

'/Users/hattoridaichi/python/practice/raw_data/sample_data'

In [19]:
df = pd.read_excel("blank_pcatice.xlsx")

In [26]:
df

        col     col2
0        aa       aa
1        aa       aa
2        aa       aa
3        aa       aa
4        aa       aa
5        aa       aa
6     bbbbb    bbbbb
7     bb  b    bb  b
8     bb  b    bb  b
9     bb  b    bb  b
10    bb  b    bb  b

In [45]:
counter = Counter(df["col"][7])

In [53]:
counter[' ']

4

In [54]:
def get_indent(x):
    tmp = Counter(x)
    return tmp[" "]

In [55]:
df["count"] = df["col"].apply(lambda x : get_indent(x))

In [65]:
a = df["col"][1].replace(" ",  "-")

In [66]:
a

'----aa'

__