In [82]:
import pandas as pd
import pathlib
import os
import configparser
import string

In [26]:
# configファイルの読み込み
config=configparser.ConfigParser()
config.read('config.ini')
config_path=config["default"]["path"]

In [33]:
p_file = config_path/pathlib.Path("2014Q2BSPL.xlsx")
print(p_file)
df_test=pd.read_excel(p_file, skip=6)

/Users/hattoridaichi/R_studio/Practice/JRE/2014Q2BSPL.xlsx

In [109]:
def test_func(Q, types, year_list):
    list_df=[]
    for year in year_list:
        path=config_path/pathlib.Path(str(year)+str(Q)+str(types)+".xlsx")
        df_tmp=pd.read_excel(path, header=[5], usecols=[0, 1, 2, 3, 4, 5, 6])
        df_tmp=pd.melt(df_tmp, id_vars="company", var_name='companys', value_name='amount').rename(columns={"company":"account"})
        df_tmp["account"]=df_tmp["account"].str.strip()
        df_tmp["companys"]=df_tmp["companys"].str.strip()
        df_tmp["year"]=year
        df_tmp["Q"]=Q
        list_df.append(df_tmp)
    df_tmp=pd.concat(list_df)   
    return(df_tmp)

In [110]:
year_list=["2014", "2015"]
df_test=test_func("Q2", "BSPL", year_list)
df_test.head()

  account companys  amount  year   Q
0      AA        a       0  2014  Q2
1      BB        a      16  2014  Q2
2      CC        a      77  2014  Q2
3      DD        a      89  2014  Q2
4      VV        a      10  2014  Q2