In [7]:
import pandas as pd
import numpy as np
from numpy.random import *

In [3]:
df = pd.read_csv("titanic_train.csv")

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:
df_original = df.copy()
df_original["new_Age"] = df_original["Age"]
df_original["month"] = 3

In [32]:
df_original.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_Age,month
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,22.0,3
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.0,3
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,26.0,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,35.0,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,35.0,3

In [11]:
rand() * 0.4 + 0.8

0.9782410500647957

In [26]:
def making_data(x):
    new_data = x*(rand() * 0.4 + 0.8) 
    return new_data

In [27]:
def copy_df(df):
    df_copy = df.copy()
    df_copy["new_Age"] = df_copy["Age"].apply(lambda x : making_data(x))
    return df_copy

In [33]:
bind_list = []
for i in range(1, 13):
    if i != 3:
        df_tmp = copy_df(df)
        df_tmp["month"] = i
        bind_list.append(df_tmp)
    else:
        bind_list.append(df_original)

df_all = pd.concat(bind_list)